################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsultaCnpjApi/App_Data/ConsultaCnpjApi.Resources.db.Contexto.mdf
